<div class='row'>
    <div class='col'>
    <%= book.title%>
    </div>
    <div class='col'>
    <%= book.status&.titleize%>
    </div>
    <div class='col'>
    <%= book.status_date%>
    </div>
</div>
